html {
    background-color: white;
}
main {
    box-align: auto;
}
header{
    /* padding: 20px 20px 20px 20px; */
    margin: 20px 20px 20px 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
div {
    margin: 10px;
}